<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<% @restaurant.reviews.each do |review| %>
  <li><%= review.content %>
  <li><%= review.rating %>
<% end %>
<br>
<%= link_to "Back to restaurants", restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
